{{ define "content" }}
  {{ $headless := .Site.GetPage "/homepage" }}
  {{ $sections := $headless.Resources.ByType "page" }}
  {{ $sections := cond .Site.BuildDrafts $sections (where $sections "Draft" "==" false) }}
  {{ $buttonSections := where $sections "Params.headline_button" true }}
  <section
    class="flex h-screen w-full items-center bg-slate-50 bg-center bg-no-repeat px-12"
    {{ with .Params.cover_image }}
      style="background-image: url({{ . }})"
    {{ end }}
  >
    <div class="max-w-2xl">
      {{ with .Params.header_headline }}
        <h1 class="mb-4 text-6xl font-bold tracking-tight text-slate-800">
          {{ . }}
        </h1>
      {{ end }}

      {{- partial "extra_headline.html" . -}}

      {{ if $buttonSections }}
        <div class="mt-20">
          {{ range $buttonSections }}
            <a
              class="inline-block rounded-md bg-blue-700 px-6 py-2 font-semibold tracking-wide text-white no-underline hover:bg-blue-900"
              href="#{{ anchorize .Title }}"
            >
              {{ with .Params.svg_icon }}
                {{ partial "svg.html" (dict "icon" . "class" "inline h-5 fill-white pb-1 pr-2") }}
              {{ end }}
              {{ .Title }}
            </a>
          {{ end }}
        </div>
      {{ end }}

      {{- partial "contacts.html" . -}}
    </div>
  </section>

  {{ range $sections }}
    <section class="{{ if not (.Params.subsection) }}pt-20{{ end }} mb-8 overflow-hidden px-12">
      <div id="{{ anchorize .Title }}" class="mx-auto max-w-7xl pt-4">
        <h3
          class="{{ if (.Params.subsection) }}
            text-2xl mb-4
          {{ else }}
            text-3xl mb-8
          {{ end }} font-semibold text-slate-800"
        >
          {{ .Title }}
        </h3>
        {{ .Content }}
      </div>
      {{ if .Params.show_contacts }}
        {{- partial "contacts.html" . -}}
      {{ end }}
    </section>
  {{ end }}
{{ end }}
